<app-navbar-cliente></app-navbar-cliente>

<div class="container mt-3">

	<div class="card mt-5">
		<div class="card-header">Actividades Proximas</div>
		<div class="card-body">
			<table id="platosTable" border="1" class="table table-bordered table-sm">
				<thead class="thead-light text-center">
					<tr>
                        <th>Clase</th>
						<th>Dia</th>
						<th>Hora de inicio</th>
						<th>Hora de finalizacion</th>
						<th>Instructor</th>
                        <th>Id Sucursal</th>
					</tr>
				</thead>
				<tbody>
					<tr class="text-center" *ngFor="let clase of clases; let i = index">
						<td>{{clase.nombreServicio}}</td> 
						<td>{{clase.dia}}</td>
						<td>{{clase.horaInicio}}</td>
                        <td>{{clase.horaFinal}}</td>
                        <td>{{clase.nombreEmpleado}}</td> 
                        <td>{{clase.idSucursal}}</td>                
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</div>


